<div class="well">
      <div class="pic" style="float: left; margin-right: 15px"><img src="./imgs/<%= item.get('image') %>" width="90px" height="90px" /></div>
      <div class="info">
        <ul style="list-style: none;">
            <li><p><%= item.get('name') %></p></li>
            <li><p><%= item.get('category') %></p></li
            <li><p>Price: $<%= item.get('price').toFixed(2) %></p></li>
        </ul>
      </div>
</div>
<img src='./imgs/backbone_logo.png'></img>
<br/>
<p>
Item Description
</p>
<div class="well">
    <table>
        <tr>
            <td width='50%'>
                Quantity (between 1 and 5):<input id='quantityField' type="number" name="quantity" value='1' min="1" max="5">
                <br/>
                <input id='realPrice' type='hidden' value="<%= item.get('price') %>">
                Total:<div id='total'>$<%= item.get('price').toFixed(2) %></div>
            </td>
            <td align='right' width='50%'>
                <input id='addCart' type='button' value='Add to Cart'>
            </td>
        </tr>
    </table>
    
</div>